
body {
  background-color: #f5e1c8; /* Sand-like background */
  font-family: Arial, sans-serif;
  color: #333;
}

/* Header Styling */
.header {
  font-family: 'JetBrains Mono', monospace;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white; /* Slightly lighter than background */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 999; /* Ensures the header stays on top */
}

/* Museum Logo */
.logo {
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
}

/* Navigation Links */
.nav-links {
  display: flex;
  gap: 15px;
  flex-grow: 1; /* Allows proper spacing */
  align-items: center;
}

.login {
  font-weight: bold;
  font-size: 16px;
  color: #333;
  margin-left: auto;
}


/* Homepage Layout *//* Homepage Layout */
.homepage {
  background-color: #f4e1c1; /* Sand-like color */
  min-height: 100vh; /* Ensure it covers the full height */
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  justify-content: flex-start; /* Align to the left */
  align-items: center; /* Vertically center the content */
  /*  padding: 20px; Optional: add some padding around the content */
  font-family: "Roboto Mono", monospace;
   /* gap: 30px; Space between text and image */
}

/* Text Section */
.text-container {
  text-align: center; /* Center text */
  margin-top: 70px; /* Push text down */
  transform: translateX(-160px); /* Move text slightly to the left */
}

/* Title and Text Styling */
.home-title {
  font-size: 100px;
  font-family: 'Roboto Mono', monospace;
  transform: translateX(-70px);
  margin-bottom: -40px;
}

.home-text {
  font-size: 40px;
  font-family: 'Roboto Mono', monospace;
  margin-bottom: 20px;
  transform: translateX(93px);
}

/* Slideshow Container */
.slideshow-container {
  width: 700px; /* Adjust width as needed */
  height: 300px; /* Adjust height for desired image size */
  overflow: hidden;
  position: relative;
  border-radius: 10px; /* Optional: adds rounded corners */
  transform: translateX(-100px); /* Move images slightly to the left */

  
}

/* Slideshow Image */
.slideshow-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: opacity 1s ease-in-out;
}

 /* Ticket Page Styling */
 .ticket-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f3f4f6; /* Light gray background */
}

.ticket-title {
  font-size: 32px;
  font-weight: bold;
  color: #3b82f6; /* Blue color */
}
