
body {
  background-color: #f5e1c8; /* Sand-like background */
  font-family: Arial, sans-serif;
  color: #333;
}

/* Header Styling */
.header {
  font-family: 'JetBrains Mono', monospace;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white; /* Slightly lighter than background */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 999; /* Ensures the header stays on top */
}

/* Museum Logo */
.logo {
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
}

/* Navigation Links */
.nav-links {
  display: flex;
  gap: 15px;
  flex-grow: 1; /* Allows proper spacing */
  align-items: center;
}

.login {
  font-weight: bold;
  font-size: 16px;
  color: #333;
  margin-left: auto;
}


.homepage {
  background-color: #f4e1c1; /* Sand-like color */
  min-height: 100vh; /* Ensure it covers the full height */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Mono", monospace;
}
  

 /* Ticket Page Styling */
 .ticket-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f3f4f6; /* Light gray background */
}

.ticket-title {
  font-size: 32px;
  font-weight: bold;
  color: #3b82f6; /* Blue color */
}

.category{
  width: 300px;
  height:200px;
  border: 3px solid black;
  display:flex;
  align-items:center;
  justify-content: center;
  align-items:flex-end;
  padding: 20px;
  border-radius: 10px;
  margin: 5px;
  transition: transform 0.3s ease-in-out;
}
.category-text{
  font-family: 'JetBrains Mono', monospace;
  font-weight: bold;
  text-align: center; 
  padding-bottom: 0px; 
}
.category:hover{
  transform: scale(1.1);
  background-color: rgba(0,0,0,0.1);
}


.giftshop-container{
  display:grid;
  grid-template-columns: repeat(3,1fr);/*creates the grid like display*/
  gap:20px;
  justify-content:center;/*centers content within the container*/
  padding:20px;
  margin-top: 100px; /*fits the grid under the header*/
}
